.MenuListItem {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    font-size: 4vmin;
  }
  
  
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .item-container {
    border: groove;
    display: flex;
    justify-content: space-around;
  }